name: Tests

on:
  pull_request:

  push:
    branches:
      - main

jobs:
  test:
    name: Run tests

    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false

      matrix:
        os: [ubuntu-latest]
        python-version: ["3.9", "3.13"]
        backend: [numpy, jax]

    steps:
      - uses: actions/checkout@v2

      # make sure tags are fetched so we can get a version
      - run: git fetch --prune --unshallow --tags

      - name: Set up Python ${{ matrix.python-version }} on ${{ matrix.os }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip

      - name: Install dependencies
        run: |
          pip install pytest jax jaxlib
          pip install .

      - name: Run tests
        run: |
          pytest . -v --backend ${{ matrix.backend }}
